<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HOMR</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="keywords" content="webpack4">
  <meta name="description" content="我的描述">
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="renderer" content="webkit">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="x5-fullscreen" content="true" />
  <meta name="full-screen" content="yes">
</head>

<body>
  <span>This is home##@</span>
  <span class="iconfont">&#xe642;</span>
  <div class="jq"></div>
  <button>点我弹框</button>
  <div style="font-size: 30px">30px</div>
  <div style="font-size: 0.3rem">0.3rem</div>
  <!-- haha -->
  <img src="../app/assets/images/qrcode_icon.png" alt="">
  <img src="../app/assets/images/ivs.png" alt="">
</body>

</html>